*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root{
    --cor0: #49D0B0;
    --cor1: #F42A28;
    --cor2: #37A5C6;
    --cor3: #61E1CA;
    --cor4: #f6f8fc;
}

body{
    background-color: var(--cor4);
}

.content{
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: white;  
}

@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

